title {
  text-align: center;
  font-size: 50px;
}
.tiaoz{
	text-align: center;
	color:skyblue;
	font-size: 20px;
}
.h1 {
	color:pink;
	font-size:30px;
	text-align: center;
}
.lianjie {
	color:orange;
	text-align: center;
	}
.lianjie2{
	color:orange;
	text-decoration:none;
}
.imgmid{
	text-align:center;
}
.button1 {
 -webkit-transition-duration: 0.4s;
 transition-duration: 0.4s;
 padding: 4px;
 font-size: 20px;
 text-align: center;
 background-color: lightblue;
 color: black;
 border: 2px solid #4CAF50;
 border-radius:5px;
 }
 .button1:hover {
 background-color: royalblue;
 color: white;
 text-decoration:none;
 }
 
 .wb{
	background-color:antiquewhite;
	font-size: 30px;
	width: 400px;
	word-wrap: break-word;
	-moz-word-wrap: break-word;
	text-align: left;
	text-indent: 2em;
 }
